<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <style>
          *{
               margin: 0;
               padding: 3px;
          }
     </style>
</head>
<body>
     <header style="display: flex; justify-content: space-between;">
          <div class="navbar">
               <span><a href="{% url 'home' %}">Home Page</a></span>
               <span><a href="{% url 'about' %}">About Us</a></span>
          </div>
          <div class="navbar2">
               <span><h3><a class="btn btn-primary" href="{% url 'new_post' %}">+Add blog</a></h3></span>
          </div>
     </header>
     {% if user.is_authenticated %}
          <p>Welcome {{ user.username }}</p>
          <a href="{% url 'logout' %}">Exit in site</a>
     {% else %}
          <a href="{% url 'login' %}">Saytga kirish</a> |
          <a href="{% url 'signup' %}">Royxatdan O'tish</a>
     {% endif %}
     <div>
          {% block content %}
          {% endblock content %}
     </div>
     <footer>
          
     </footer>
</body>
</html>