<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <style>
          *{
               margin: 0;
               padding: 7px;
          }
     </style>
</head>
<body>
{% extends 'content.html' %}
{% block content %}
     <center><h1>Hello World</h1></center>
     {% for post in object_list %}
          <div class="property" style="margin-top: 15px;">
               <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
               <p>{{ post.text | slice:":50" }}</p>
          </div>
     {% endfor %}
{% endblock content %}
</body>
</html>